* {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: sans-serif;
}

/* header section */

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 70px 0;
    background-color: rgb(165, 93, 93);
    background-image: url(./assets/bg-image.webp);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.header img{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
}

.header p {
    color: white;
}

.btn {
    padding: 10px;
    background-color: rgb(255, 68, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 10px;
}

.btn:hover {
    background-color: yellow;
    color: rgb(0, 0, 0);
    transition: background-color 300ms, color 300ms;
}

/* project section */

.content {
    padding: 20px 5px;
    margin-bottom: 15px;
}

.list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 5%;
    list-style: none;
}

.content ul li a img {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.content ul li a img:hover {
    box-shadow: 20px 20px 10px 0px rgba(0,0,0,1);
    border-radius: 5px;
    transition: box-shadow 200ms;
}

/* interest section */

.interests {
    background-color: rgb(68, 66, 66);
    padding: 30px 5px;
    line-height: 3rem;
}

.interests h2{
    margin: 0 15px;
    color: rgb(223, 221, 221);;
}

.interests p {
    margin: 0 15px;
    color: rgb(216, 216, 216);;
}

/* footer */

.footer {
    width: 80%;
    margin: 20px 20px;
    color: rgb(118, 116, 116);
}

/* pop-up section */

.popup-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    height: 250px;
    top: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;    
}

.popup-container h3,p,a {
    color: black;
    text-decoration: none;
    line-height: 30px;
}

.close-btn {
    padding: 5px 10px;
    margin-top: 20px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-weight: bold;
}

.close-btn:hover {
    background-color: red;
    color: white;
    padding: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: background-color 200ms, color 200ms, padding 200ms, box-shadow 200ms;
}


.invisible {
    visibility: hidden;
    opacity: 0;
}

.active {
    filter: blur(5px) brightness(.7);
}






